*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#924FAB;
    font-family: 'Lucida Sans', sans-serif;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8% 20%;
}

div>h1{
    color: #EFE2F9;
    margin: 10px;
    text-shadow: 4px 4px 4px rgb(29, 29, 29);
}

div>input{
    background:#D1D9DD;
    border:none;
    outline: none;
    margin:10px;
    padding:10px 200px;
    font-size: 20px;
    text-align: center;
    color: #98A0A4;
}

div>button{
    background:#924FAB;
    border: 2px solid #EFE2F9;
    color: #EFE2F9;
    border-radius: 8px;
    padding:5px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}